# Ogólne
PROJECT_NAME=order-event-system

# Konfiguracja Bazy Danych
DB_NAME=order_db
DB_USER=spring_user
DB_PASSWORD=WPISZ_TUTAJ_SWOJE_BEZPIECZNE_HASLO
DB_PORT=5432

# Konfiguracja Kafki (KRaft)
KAFKA_CLUSTER_ID=4L62Y2VBNTcwNTJENDM0Qk
KAFKA_PORT_EXTERNAL=9092
KAFKA_PORT_INTERNAL=29092

# Porty Aplikacji i Narzędzi
PORT_MAIN_BACKEND=8080
PORT_DLT_MANAGER=8081
PORT_FRONTEND=4200
PORT_KAFKA_UI=8089